body {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    min-height: 100vh;
    /* Crucial: Takes up full screen height */
    margin: 0;
    /* Removes default browser spacing */
}




.main {
    background-color: gray;
    border: 1px solid black;
    width: 200px;
    height: 350px;
    padding: 10px;

    /* Enable Flexbox and allow wrapping */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    /* Centers the whole block of rows */
    gap: 5px;
    /* Space between buttons */
}


.display {
    width: 100%;
    height: 50px;
    display: flex;
    color: white;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    font-family: monospace;
    font-size: 1.5rem;
    box-sizing: border-box;
    margin-bottom: 10px;



}

.number {
    background-color: darkgrey;
    border: 2px solid black;

    /* Calculate width: (100% / 3) minus gap adjustments */
    flex: 0 0 calc(25% - 5px);
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* Ensures border doesn't break the width */
    cursor: pointer;
    font-weight: bold;
}



.clear {
    background-color: #ff6666;
}

.equals {
    background-color: white;
}

.operator {
    background-color: #f0ad4e;
    /* Orange/Gold color */
    color: white;
}

.operator:hover {
    background-color: #ec971f;
}